              /* struttura principale (2)*/

body{
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(221, 217, 217), black);
}

              /* sidebar*/

.sidebar {
position: fixed;
top: 0;
left: 0;
width: 400px;
height: 100%;
line-height: 1px;
background: linear-gradient(to bottom, rgb(221, 217, 217), black);
overflow: auto;
}

.sidebar-header {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.sidebar-photo {
width: 80%;
border-radius: 50%;
margin-bottom: 10px;
}

.sidebar-menu {
list-style: none;
margin: 0;
padding: 0;
}

.sidebar-menu li {
margin: 0;
}

.sidebar-menu a {
display: block;
padding: 10px;
text-decoration: none;
color: #ffffff;
}

.sidebar-menu a:hover {
background-color: rgb(221, 217, 217);
color: rgb(0, 0, 0);
}

.sidebar-footer {
display: flex;
justify-content: center;
align-items: center;
margin-top: auto;
padding: 100px;
}

.sidebar-footer a {
display: inline-block;
margin: 0 30px;
font-size: 20px;
color: #c7c1c1;
transition: color 1s ease-in-out;
transition: transform 0.5s ease-in-out; 
}

.sidebar-footer a:hover {
color: #000000;
transform: scale(3.5);
}

              /* container dell'about (1) e del terminale*/

.immagine {
  position: relative;
  border: 0;
  padding: 0;
  z-index: 1;
}

.immagine img {
  width: 100%;
  height: auto;
}

.content {
  border: 0;
  padding: 0;
  margin-left: 400px;
}

.container-1 {
  display: flex;
  padding-left: 50px;
  margin-bottom: 20px;
  width: 100%; 
  box-sizing: border-box; 
}

.container-t {
  max-width: 230px;
  max-height: calc(230px * 0.84);
  flex: 1 0 30%; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  padding-top: 150px;
  padding-left: 50px;
}

.terminal_toolbar {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

.butt {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.btn-color {
  background: #ee411a;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.butt--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}

.terminal_body {
  background: rgba(56, 4, 40, 0.9);
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal_promt {
  display: flex;
}

.terminal_promt span {
  margin-left: 4px;
}

.terminal_user {
  color: #7eda28;
}

.terminal_location {
  color: #4878c0;
}

.terminal_bling {
  color: #dddddd;
}

.terminal_cursor {
  display: block;
  height: 14px;
  width: 5px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
}

@keyframes curbl {
  
  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
} 

h1{
  text-align: center;
}

#about{
  width: 70%;
}

              /* container delle skills (2)*/

.container-2 {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

#skills{
  margin: 0;
}

.title-skill{
  width: 70%;
  padding-left: 50px;
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  margin: 0 auto;
  width: 95%;
  background-color: #dad7d7;
  padding: 2px;
  border-radius: 15px;
  font-size: 14px;
  color: #dad7d7;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 10s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
  width: 95%;
  left: 50px;
  right: 50px;
}

.bar.lang::before{
  background-color: #000000;
}
.bar.frame::before{
  background-color: #3d3d3d;
}
.bar.soft::before{
  background-color: #7b7979;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

              /* container dell'education (3) e flip card*/

.container-3{
  display: flex;
  width: 100%;
  height: auto;
  color: #3d3d3d;
}

.blocco1{
  width: 35%;
  height: auto;
  padding-left: 50px;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

.blocco2{
  width: 65%;
  height: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.blocco2 .h2{
  text-align: center;
}
              
.flip {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: 3s ease;
}

.flip:hover {
  transform: rotateY(180deg);
}

.flip .content-fl {
  transform-style: preserve-3d;
}

.flip .back, .flip .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flip h2,
.flip p {
  transform: translateZ(90px);
  text-shadow: 0 0 3px black;
  text-align: center;
}

.flip h2 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 1px;
}

.flip p {
  font-size: 1em;
  color: #eee;
  line-height: 1.6em;
}

.flip::before,
.flip::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(rgb(211, 5, 211), rgb(0, 0, 0));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg)translateZ(1px);
}

.flip::before {
  transform: none;
  background-image: linear-gradient(rgb(53, 239, 90), rgb(0, 0, 0));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

              /* adattabilità */

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
  }

  #first {
    width: 234px;
    max-width: none;
    height: 194px;
    max-height: none;
  }

  .immagine {
    width: 100%;
  }

  .container-1 {
    flex-direction: column; 
    padding-left: 10px;
    padding-right: 10px;
    margin:0;
  }
  
  .container-t {
    width: 230px;
    height: 194px;
    margin: 0 auto; 
    padding: 0;
  }

  .terminal_body {
    background: rgba(56, 4, 40, 0. H9); 
    width: 230px;
    height: 194px;
    font-size: 12px; 
  }

  #about {
    width: 100%; 
    margin: 0 auto;
    padding-left: 0;
    position: relative;
  }

  .about-section {
    margin-top: -200px;
  }

  .container-3 {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  .blocco1 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .blocco2 {
    width: 100%;
    height: auto;
  }

}